<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="main.java.com.sbtest.mapper.GoodsMapper">
    <resultMap id="BaseResultMap" type="main.java.com.sbtest.model.Goods">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="bar_code" property="barCode" jdbcType="BIGINT"/>
        <result column="goods_name" property="goodsName" jdbcType="VARCHAR"/>
        <result column="brand" property="brand" jdbcType="VARCHAR"/>
        <result column="category" property="category" jdbcType="VARCHAR"/>
        <result column="price" property="price" jdbcType="DECIMAL"/>
        <result column="item_price" property="itemPrice" jdbcType="DECIMAL"/>
        <result column="origin" property="origin" jdbcType="VARCHAR"/>
        <result column="origin_id" property="originId" jdbcType="INTEGER"/>
        <result column="production_year" property="productionYear" jdbcType="SMALLINT"/>
        <result column="goods_type" property="goodsType" jdbcType="VARCHAR"/>
        <result column="tar" property="tar" jdbcType="DECIMAL"/>
        <result column="unit" property="unit" jdbcType="VARCHAR"/>
        <result column="period_num" property="periodNum" jdbcType="TINYINT"/>
        <result column="price_clerk" property="priceClerk" jdbcType="VARCHAR"/>
        <result column="item_bar_code" property="itemBarCode" jdbcType="BIGINT"/>
        <result column="province_id" property="provinceId" jdbcType="INTEGER"/>
        <result column="city_id" property="cityId" jdbcType="INTEGER"/>
        <result column="area_id" property="areaId" jdbcType="INTEGER"/>
        <result column="street_id" property="streetId" jdbcType="INTEGER"/>
        <result column="create_id" property="createId" jdbcType="INTEGER"/>
        <result column="update_id" property="updateId" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="INTEGER"/>
        <result column="update_time" property="updateTime" jdbcType="INTEGER"/>
        <result column="is_delete" property="isDelete" jdbcType="BIT"/>
        <result column="item_unit" property="itemUnit" jdbcType="VARCHAR"/>
        <result column="cat" property="cat" jdbcType="VARCHAR"/>
        <result column="standards" property="standards" jdbcType="VARCHAR"/>
        <result column="cost_price" property="costPrice" jdbcType="DECIMAL"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, bar_code, goods_name, brand, category, price, item_price, origin, origin_id, 
    production_year, goods_type, tar, unit, period_num, price_clerk, item_bar_code, province_id, 
    city_id, area_id, street_id, create_id, update_id, create_time, update_time, is_delete, 
    item_unit, cat, standards, cost_price
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from yc_goods
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from yc_goods
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="main.java.com.sbtest.model.Goods">
    insert into yc_goods (id, bar_code, goods_name, 
      brand, category, price, 
      item_price, origin, origin_id, 
      production_year, goods_type, tar, 
      unit, period_num, price_clerk, 
      item_bar_code, province_id, city_id, 
      area_id, street_id, create_id, 
      update_id, create_time, update_time, 
      is_delete, item_unit, cat, 
      standards, cost_price)
    values (#{id,jdbcType=INTEGER}, #{barCode,jdbcType=BIGINT}, #{goodsName,jdbcType=VARCHAR}, 
      #{brand,jdbcType=VARCHAR}, #{category,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, 
      #{itemPrice,jdbcType=DECIMAL}, #{origin,jdbcType=VARCHAR}, #{originId,jdbcType=INTEGER}, 
      #{productionYear,jdbcType=SMALLINT}, #{goodsType,jdbcType=VARCHAR}, #{tar,jdbcType=DECIMAL}, 
      #{unit,jdbcType=VARCHAR}, #{periodNum,jdbcType=TINYINT}, #{priceClerk,jdbcType=VARCHAR}, 
      #{itemBarCode,jdbcType=BIGINT}, #{provinceId,jdbcType=INTEGER}, #{cityId,jdbcType=INTEGER}, 
      #{areaId,jdbcType=INTEGER}, #{streetId,jdbcType=INTEGER}, #{createId,jdbcType=INTEGER}, 
      #{updateId,jdbcType=INTEGER}, #{createTime,jdbcType=INTEGER}, #{updateTime,jdbcType=INTEGER}, 
      #{isDelete,jdbcType=BIT}, #{itemUnit,jdbcType=VARCHAR}, #{cat,jdbcType=VARCHAR}, 
      #{standards,jdbcType=VARCHAR}, #{costPrice,jdbcType=DECIMAL})
  </insert>
    <insert id="insertSelective" parameterType="main.java.com.sbtest.model.Goods">
        insert into yc_goods
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="barCode != null">
                bar_code,
            </if>
            <if test="goodsName != null">
                goods_name,
            </if>
            <if test="brand != null">
                brand,
            </if>
            <if test="category != null">
                category,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="itemPrice != null">
                item_price,
            </if>
            <if test="origin != null">
                origin,
            </if>
            <if test="originId != null">
                origin_id,
            </if>
            <if test="productionYear != null">
                production_year,
            </if>
            <if test="goodsType != null">
                goods_type,
            </if>
            <if test="tar != null">
                tar,
            </if>
            <if test="unit != null">
                unit,
            </if>
            <if test="periodNum != null">
                period_num,
            </if>
            <if test="priceClerk != null">
                price_clerk,
            </if>
            <if test="itemBarCode != null">
                item_bar_code,
            </if>
            <if test="provinceId != null">
                province_id,
            </if>
            <if test="cityId != null">
                city_id,
            </if>
            <if test="areaId != null">
                area_id,
            </if>
            <if test="streetId != null">
                street_id,
            </if>
            <if test="createId != null">
                create_id,
            </if>
            <if test="updateId != null">
                update_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="isDelete != null">
                is_delete,
            </if>
            <if test="itemUnit != null">
                item_unit,
            </if>
            <if test="cat != null">
                cat,
            </if>
            <if test="standards != null">
                standards,
            </if>
            <if test="costPrice != null">
                cost_price,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="barCode != null">
                #{barCode,jdbcType=BIGINT},
            </if>
            <if test="goodsName != null">
                #{goodsName,jdbcType=VARCHAR},
            </if>
            <if test="brand != null">
                #{brand,jdbcType=VARCHAR},
            </if>
            <if test="category != null">
                #{category,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                #{price,jdbcType=DECIMAL},
            </if>
            <if test="itemPrice != null">
                #{itemPrice,jdbcType=DECIMAL},
            </if>
            <if test="origin != null">
                #{origin,jdbcType=VARCHAR},
            </if>
            <if test="originId != null">
                #{originId,jdbcType=INTEGER},
            </if>
            <if test="productionYear != null">
                #{productionYear,jdbcType=SMALLINT},
            </if>
            <if test="goodsType != null">
                #{goodsType,jdbcType=VARCHAR},
            </if>
            <if test="tar != null">
                #{tar,jdbcType=DECIMAL},
            </if>
            <if test="unit != null">
                #{unit,jdbcType=VARCHAR},
            </if>
            <if test="periodNum != null">
                #{periodNum,jdbcType=TINYINT},
            </if>
            <if test="priceClerk != null">
                #{priceClerk,jdbcType=VARCHAR},
            </if>
            <if test="itemBarCode != null">
                #{itemBarCode,jdbcType=BIGINT},
            </if>
            <if test="provinceId != null">
                #{provinceId,jdbcType=INTEGER},
            </if>
            <if test="cityId != null">
                #{cityId,jdbcType=INTEGER},
            </if>
            <if test="areaId != null">
                #{areaId,jdbcType=INTEGER},
            </if>
            <if test="streetId != null">
                #{streetId,jdbcType=INTEGER},
            </if>
            <if test="createId != null">
                #{createId,jdbcType=INTEGER},
            </if>
            <if test="updateId != null">
                #{updateId,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=INTEGER},
            </if>
            <if test="isDelete != null">
                #{isDelete,jdbcType=BIT},
            </if>
            <if test="itemUnit != null">
                #{itemUnit,jdbcType=VARCHAR},
            </if>
            <if test="cat != null">
                #{cat,jdbcType=VARCHAR},
            </if>
            <if test="standards != null">
                #{standards,jdbcType=VARCHAR},
            </if>
            <if test="costPrice != null">
                #{costPrice,jdbcType=DECIMAL},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="main.java.com.sbtest.model.Goods">
        update yc_goods
        <set>
            <if test="barCode != null">
                bar_code = #{barCode,jdbcType=BIGINT},
            </if>
            <if test="goodsName != null">
                goods_name = #{goodsName,jdbcType=VARCHAR},
            </if>
            <if test="brand != null">
                brand = #{brand,jdbcType=VARCHAR},
            </if>
            <if test="category != null">
                category = #{category,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                price = #{price,jdbcType=DECIMAL},
            </if>
            <if test="itemPrice != null">
                item_price = #{itemPrice,jdbcType=DECIMAL},
            </if>
            <if test="origin != null">
                origin = #{origin,jdbcType=VARCHAR},
            </if>
            <if test="originId != null">
                origin_id = #{originId,jdbcType=INTEGER},
            </if>
            <if test="productionYear != null">
                production_year = #{productionYear,jdbcType=SMALLINT},
            </if>
            <if test="goodsType != null">
                goods_type = #{goodsType,jdbcType=VARCHAR},
            </if>
            <if test="tar != null">
                tar = #{tar,jdbcType=DECIMAL},
            </if>
            <if test="unit != null">
                unit = #{unit,jdbcType=VARCHAR},
            </if>
            <if test="periodNum != null">
                period_num = #{periodNum,jdbcType=TINYINT},
            </if>
            <if test="priceClerk != null">
                price_clerk = #{priceClerk,jdbcType=VARCHAR},
            </if>
            <if test="itemBarCode != null">
                item_bar_code = #{itemBarCode,jdbcType=BIGINT},
            </if>
            <if test="provinceId != null">
                province_id = #{provinceId,jdbcType=INTEGER},
            </if>
            <if test="cityId != null">
                city_id = #{cityId,jdbcType=INTEGER},
            </if>
            <if test="areaId != null">
                area_id = #{areaId,jdbcType=INTEGER},
            </if>
            <if test="streetId != null">
                street_id = #{streetId,jdbcType=INTEGER},
            </if>
            <if test="createId != null">
                create_id = #{createId,jdbcType=INTEGER},
            </if>
            <if test="updateId != null">
                update_id = #{updateId,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=INTEGER},
            </if>
            <if test="isDelete != null">
                is_delete = #{isDelete,jdbcType=BIT},
            </if>
            <if test="itemUnit != null">
                item_unit = #{itemUnit,jdbcType=VARCHAR},
            </if>
            <if test="cat != null">
                cat = #{cat,jdbcType=VARCHAR},
            </if>
            <if test="standards != null">
                standards = #{standards,jdbcType=VARCHAR},
            </if>
            <if test="costPrice != null">
                cost_price = #{costPrice,jdbcType=DECIMAL},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="main.java.com.sbtest.model.Goods">
    update yc_goods
    set bar_code = #{barCode,jdbcType=BIGINT},
      goods_name = #{goodsName,jdbcType=VARCHAR},
      brand = #{brand,jdbcType=VARCHAR},
      category = #{category,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      item_price = #{itemPrice,jdbcType=DECIMAL},
      origin = #{origin,jdbcType=VARCHAR},
      origin_id = #{originId,jdbcType=INTEGER},
      production_year = #{productionYear,jdbcType=SMALLINT},
      goods_type = #{goodsType,jdbcType=VARCHAR},
      tar = #{tar,jdbcType=DECIMAL},
      unit = #{unit,jdbcType=VARCHAR},
      period_num = #{periodNum,jdbcType=TINYINT},
      price_clerk = #{priceClerk,jdbcType=VARCHAR},
      item_bar_code = #{itemBarCode,jdbcType=BIGINT},
      province_id = #{provinceId,jdbcType=INTEGER},
      city_id = #{cityId,jdbcType=INTEGER},
      area_id = #{areaId,jdbcType=INTEGER},
      street_id = #{streetId,jdbcType=INTEGER},
      create_id = #{createId,jdbcType=INTEGER},
      update_id = #{updateId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=INTEGER},
      is_delete = #{isDelete,jdbcType=BIT},
      item_unit = #{itemUnit,jdbcType=VARCHAR},
      cat = #{cat,jdbcType=VARCHAR},
      standards = #{standards,jdbcType=VARCHAR},
      cost_price = #{costPrice,jdbcType=DECIMAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>